 * {
     /* outline: 1px solid red; */
     color: white;
     font-family: 'Roboto', sans-serif;
 }

 .nav {
     background-color: gray;
     height: 80px;
     width: 1000px;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 /*
 .nav-title {
     display: flex;
 }

 */


 .nav-links {
     display: flex;
     list-style-type: none;
     width: 400px;
     /* margin-right: 10px; */
     justify-content: space-around;
 }


 /*

 li {
     display: inline;
     margin-left: 10px;
 }

*/

 .active {
     font-style: italic;
 }


 .btn {
     background-color: aqua;
     box-shadow: 5px 5px black;

 }